 
<div class="d-flex flex-row my-5">
    <div class="flex-fill text-center">
        <button class="btn btn-lg btn-outline-dark" routerLink="/invoices">
            <i class="fas fa-file-invoice-dollar"></i>
            Invoices</button>
    </div>
    <div class="flex-fill text-center">
        <button class="btn btn-lg btn-outline-dark" routerLink="/customers">
            <i class="fas fa-users"></i>
            Customers</button>
    </div>
</div>

<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
