<div class="container-fluid shadow p-5 my-5">
    <div class="container">
        <div class="d-flex flex-row align-items-center">
            <div class="flex-fill">
                <h1 class="h2">Create Customer</h1>
            </div>            
        </div>
    </div>

    <ng-container *ngIf="feedback && feedback.loading; else showForm">        
        <app-feedback [textClass]="feedback.textClass" [text]="feedback.text">

        </app-feedback>
    </ng-container>
    <ng-template #showForm>
        <form [formGroup]="customerForm" (ngSubmit)="submit(customerForm)" *ngIf="customerForm">
            <div class="container my-5">
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Company Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" formControlName="companyName" />
                            <p class="text-danger small" *ngIf="(submitted && !customerForm.controls.companyName.valid) || (!customerForm.controls.companyName.value && customerForm.controls.companyName.dirty)">
                                A valid company name is required
                            </p>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Website Url</label>
                            <input type="text" class="form-control" formControlName="websiteUrl" />
                        </div>

                    </div>
                    <div class="col-12 col-lg-6">
                        <!--

                            <div class="form-group text-center">
                                <div class="p-5 border d-inline-block">
                                    <i class="text-muted small">Company Logo</i>
                                </div>
                            </div>                    
                    
                            <div class="input-group mb-3">  
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input">
                                    <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
                                </div>
                                    <div class="input-group-append">
                                    <span class="input-group-text">Upload</span>
                                </div>
                            </div>
                        -->

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">

                        <div class="form-group">
                            <label>Company Type <span class="text-danger">*</span></label>
                            <div class="input-group mb-3">                    
                                <select class="custom-select" formControlName="customerTypeID">
                                <option disabled>Choose a customer type...</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                                </select>
                            </div>
                            <p class="text-danger small" *ngIf="(submitted && !customerForm.controls.customerTypeID.valid) || (!customerForm.controls.customerTypeID.value && customerForm.controls.customerTypeID.dirty)">
                                A valid company type is required
                            </p>
                        </div>
                        
                        <div class="form-group">
                            <label>Customer Status ID <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" formControlName="customerStatusID" />
                            <p class="text-danger small" *ngIf="(submitted && !customerForm.controls.customerStatusID.valid) || (!customerForm.controls.customerStatusID.value && customerForm.controls.customerStatusID.dirty)">
                                A valid company status ID is required
                            </p>
                        </div>

                        <div class="form-group">
                            <label>Nature Of Business <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" formControlName="natureOfBusiness" />
                            <p class="text-danger small" *ngIf="(submitted && !customerForm.controls.natureOfBusiness.valid) || (!customerForm.controls.natureOfBusiness.value && customerForm.controls.natureOfBusiness.dirty)">
                                A nature of business description is required
                            </p>                        
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Registration Number</label>
                            <input type="text" class="form-control" type="text" formControlName="registrationNumber">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">VAT Number</label>
                            <input type="text" class="form-control" type="text" formControlName="vatNumber">
                        </div>

                        

                        <button class="btn btn-primary" type="submit">Submit</button>

                    </div>        
                </div>
            </div>
        </form>    
    </ng-template>

</div>



<!--
    <app-addresses (updateParent)="childFormEvent($event)" [parentForm]="customerForm" [preFilledData]="data"></app-addresses>
-->