<div class="container border">
    <div class="d-flex flex-row">
        <div class="flex-fill p-4 my-2 bg-success text-white panel-hover" [routerLink]="['../../create']">
            <div class="d-flex flex-row align-items-center text-center">
                <div class="flex-fill">
                    <h5 class="m-0">
                        <i class="fas fa-user-plus"></i>
                        New</h5>
                </div>
            </div>
        </div>
    </div>
       
    <ng-container *ngIf="customers; else loading">
        <div class="d-flex flex-row" *ngFor="let customer of customers">
            <div class="flex-fill p-4 my-2 panel-hover bg-light" [routerLink]="['../../customer']" [queryParams]="{id: customer.customerID}">
                <div class="d-flex flex-row align-items-center text-center">
                    <div class="flex-fill">
                        <h5>
                            <i class="fas fa-user"></i>
                            {{customer.companyName}}
                        </h5>                    
                    </div>            
                </div>                
            </div>
        </div>    
    </ng-container>
    <ng-template #loading>
        <app-feedback [text]="feedback.text" [textClass]="feedback.textClass" [loading]="feedback.loading" [icon]="feedback.icon" [desc]="feedback.desc"></app-feedback>
    </ng-template>    
</div>